body {
    font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin : 0;
    padding : 0;
}
h1 {
    color : #3a241d;
    text-align : center;
    font-size : 2.5rem;
    margin-bottom: 1rem;
}
.container {
    background-color: #f5f5f5;
    width: 15%;
    top : 0;
    position : absolute;
    height : 100vh;
    padding: 1rem;
    box-sizing: border-box;
}
#right-container {
    right : 0;
}
#left-container {
    left : 0;
}
.plant-container {
    position : relative;
    height : 13%;
    left : -0.6rem;
    padding : 0.7rem;
}
.plant {
    position : absolute;
    max-width : 150%;
    max-height : 150%;
    z-index: 2;
    transition :  transform 0.3s ease;
}
.plant:hover {
    transform : scale(1.10);
}

